:root {
    --font-family1: 'Lucida Handwriting';
    --font-family2: 'Times New Roman';
    --off-white: #fffbf6;
    --coolbrown: #8f7c75;
    --peach: #fae5d0;
}

/*Fixes margins and padding*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*flex: 1 0 50%, div or main*/
/*Title*/
header {
    background-color: var(--peach);
    color: var(--off-white);
    font: 'Times New Roman';
}

/*navigation pane*/
nav {
    color: var(--coolbrown);
}

/*TOP LINKS*/
a {
    color: var(--coolbrown);
    float: right;
    padding-right: 20px;
}

/*Turns link text white when cursor hovers over*/
a:hover {
    color: var(--off-white);
}

/*Text for Hello, Work*/
h2 {
    color: var(--coolbrown);
} 

.sample-work {
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
} 

/*sample images*/
.card {
   display:flex;
   flex-direction: column;
   padding: 10px;
   width: 250px;
}


/*sample images*/
.card img {
    width: 50%;
}

/*Text for samples*/
.card h2 {
    color: var(--coolbrown);
    background-color: var(--peach);
    font-size: 16px;
    font-style: italic;  
}

/*Navigation Pane ERRRR SCRATCH THAT*/
.navigation {
    background-color: var(--peach);
    position: absolute;
    width: 200px;
    height: 100%;
    right: 0px;
    flex-wrap: wrap;
    top: 111px;
    text-align: left;
    flex-direction: column;
}

/*Icons*/
#facebook-icon, #instagram-icon, #email-icon {
    display: flex;
    flex-wrap: wrap;
}
